.buy_table{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 40px;
}
td{
    padding-left: 40px;
}
.table-hr{
    margin-bottom: 100px;
}
.table-input input{
    margin-left: 60px;
}
.buy_descr{
    margin: auto;
    margin-left: 20px;
}
.thing_params{
    text-align: start;
    color: #636363;
}
.transparent_btn{
    border: none;
    background-color: #fff;
}
.shopping_buttons{
    margin-top: 60px;
    margin: auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dcdcdc;
}
.shp-button{
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 15px;
    font-weight: bold;
}
.payment__commit{
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}
.pay__commit__block{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.shp__address__elem{
    margin-bottom: 25px;
}
.pay__commit-input{
    height: 40px;
    border: 1px solid #dedede;
    padding-left: 20px;
}
.pay__commit-input::-webkit-input-placeholder{
    text-align: left;
}
#buy__confirm{
    background-color: #f5f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 270px;
}
#total__sum{
    text-align: end;
    margin-bottom: -25px;
}
#combine__row{
    text-align: end;
}
h4 span{
    color: #ff8484;
}
#proceed{
    background-color: #ff8484;
    border: none;
    margin-top: 20px;
    height: 50px;
    width: 100%;
    font-weight: bold;
    color: #FFFFFF;
}
#final{
    margin: auto;
    width: 80%;
}