*, *::before, *::after{
    box-sizing: border-box;
}

/*font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans Display', sans-serif;
font-family: 'Playfair Display', serif;*/
body{
    margin: 0;
    font-family: 'Lato', serif;
}

.container {
    max-width: 1400px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}


/*      NAVIGATION      */


nav{
    padding: 35px 22px 0px;
    width: 100%;
}
.nav__row-top{
    display: flex;
    justify-content: flex-start;
}
.nav__logo{
    align-items: center;
}
.search__form{
    margin-left: 30px;
    display: flex;
    width: 420px;
    height: 40px;
    vertical-align: baseline;
}
.search_field{
    width: 290px;
}
.search_list{
    width: 95px;
    background-color: #f8f8f8;
    border: 1px solid #ababab;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search__btn{
    width: 40px;
    padding: 9px;
    border: 1px solid #aaaaaa;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav__actions{
    display: flex;
    margin-left: auto;
}
.nav__button{
    background-color: #F16D7F;
    height: 40px;
    width: 130px;
    text-align: center;
    margin-left: 30px;
}
.nav__button .search_list{
    padding: 10px 10px;
    border: none;
    background-color: #F16D7F;
    height: 40px;
    width: 130px;
    color: #ffffff;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    /* text-align: center; */
}
select option{
    background-color: #F16D7F;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__item{

    display: block;
    padding: 15px 10px;
    align-items: center;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-link{
    color: #222222;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;

}
.nav-link:hover{
    color: #f16d7f;
}
.nav-list li{
    margin: 0 30px;
}

/*      HEADER      */

.header__index-page{
    background-image: url(../img/header_background.png);
    height: 620px;
    margin-bottom: 80px;
}
.header__row{
    padding-top: 225px;
}
.header__title{
    width: 800px;
    height: 120px;
    margin-left: 24px;
    margin-top: 0px;
}
.header__content h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 59.9452px;
    line-height: 1.2;
    text-align: left;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rgb(34, 34, 34);
    margin-bottom: 0px;
    margin-top: 0;
}
.header__content h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    text-align: left;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rgb(34, 34, 34);
    margin-top: 0px;
}
.header__title span{
    color: #ff6f76
}
.ver_line{
    background-color: #ff6f76;
    width: 15px;
    height: 97px;
    position: absolute;
    margin-top: 14px;
}

/*      SLIDER SECTION      */

.slider-section{
    height: 940px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}
.slider-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    column-gap: 30px; 

}
.category-item {
    position: relative;
    padding: 20px 0px;
    transition: 1s;
}
.category-item:hover{
    transform: scale(1.05);
}
.slider__title{
    font-family: 'Lato', sans-serif;
    width: fit-content;
    font-size: 18px;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    line-height: 0;
    text-align: left;
    font-weight: 900;
    
}
#pic3{
   margin-top: -282px;
}
.slider__title h4{
    color: #ff6f76
}
.category-item .slider__title{
    position: absolute;
    top: 40px;
    left: 0px;
    background-color: white;
    padding: 10px 30px;
}


/* PRODUCT SECTION */
.product__link{
    text-decoration: none;
}
.product-section{
    height: 1050px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.product-section-header{
    text-align: center;
    margin-bottom: 50px;
}
.section-product__title{
    font-size: 30px;
    font-family: "Lato";
    color: rgb(34, 34, 34);
    font-weight: bold;
}
.section-product__description{
    font-size: 14px;
    font-family: "Lato";
    color: rgb(159, 159, 159); 
}
.products-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    row-gap: 40px;
    margin-bottom: 40px;
    column-gap: 30px;
    margin-bottom: 80px;
}
.product{
    text-align: left;
    max-width: 270px; 
}
.product__title{
    font-size: 14px;
    font-family: "Lato";
    color: rgb(34, 34, 34);
    text-transform: uppercase;
}
.product__price{
    font-size: 16px;
    font-family: "Lato";
    color: rgb(241, 109, 127);
    font-weight: bold;
    text-transform: uppercase;
}
.product .product-img{
    position: relative;
    object-fit: cover;
    width: 100%;
}
.product-img__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;

    align-items: center;
    justify-content: center;
}
.product-btn__hvr {
    border: 1px white solid;
    color: white;
    display: flex;
    padding: 0 10px;
    max-height: 40px;
    max-width: 130px;
}
.product-btn__hvr:hover {
    background: #ffffff9f;
    color: black;
}
.product-btn__hvr h6{
    text-align: center;
    font-size: 13px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 10px;
}
.product-btn__hvr img {
    margin-right: 10px;
}
.product:hover .product-img .product-img__shadow {
    display: flex;
}
.section-button-wrapper{
    align-items: center;
}
.section-button-wrapper a{
    width: 100px;
    height: 70px;
    background-color: #F16D7F;
    color: #ffffff;
    font-size: 16px;
    font-family: "Lato";
    font-weight: bold;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    margin-left: 45%;
}

/* FEATURE SECTION */

.feature-section{
    max-height: 530px;
    margin-bottom: 100px;
}
.feature-section .container{
    display: flex;
    justify-content: center;
}
.left-block{
    width: 765px;
    height: 530px;
    background-image: url(../img/featured/featured_pic.png);
}
.feature-section-header{
    height: 86px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}
.feature-section-header h2{
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 120px;
}
.feature-section-header span{
    color: #f16d7f;
}
.feature-section-header h3{
    font-size: 45px;
    margin-top: 0px;
}


.right-block{
    width: 375px;
    height: 530px;
    background-color: #222224;
}
.feature-box{
    display: flex;
    margin-bottom: 30px;
}
.post__content{
    margin-left: 30px;
    margin-right: 43px;
    font-family: "Lato";
    color: rgb(251, 251, 251);
}
.post__title{
    font-size: 20px;
    font-weight: bold;
}
.post__text{
    font-size: 14px;
}
.feature-img{
    margin-left: 35px;
}


/* SUBSCRIBE SECTION */

.subscribe-section{
    height: 445px;
    background-image: url(../img/subscribe/bg-sub.png);
    margin-bottom: 100px;
}
.subscribe-section .container{
    display: flex;
    justify-content: center;
    padding: 105px 150px 0;
}
.subscribe-section-info{
    font-family: "Lato";
    color: rgb(34, 34, 36);
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}
.section-info__title{
    font-size: 24px;
    margin-bottom: 0px;
}
.section-info__description{
    margin-top: 0px;
    font-size: 14px;
}
.subscribe-form{
    display: flex;
    vertical-align: baseline;
}
.subscribe-form__input{
    background-color: #e1e1e1;
    height: 55px;
    width: 290px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: inherit;
    padding-left: 30px;
}
.subscribe-form__submit{
    width: 110px;
    height: 55px;
    background-color: #f16d7f;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 0px;
    border: inherit;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}


.slider-wrapper{
    max-width: 655px;
    padding-left: 0;
    padding-right: 150px;
}
.sl-item{
    display: flex;
}
.sl__img{
    height: 85px;
    width: 85px;
    margin-right: 35px;
    margin-top: 4px;
}
.sl__quote{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
}
.sl__name{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}
.sl__name span{
    color: #f16d7f;
}
.slider-dots{
    margin-top: -5px;
    margin-left: 110px;
}
.slider-dots_item{
    cursor: pointer;
    height: 4px;
    width: 40px;
    margin: 10px 12px;
    background-color: #d6d6d6;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .slider-dots_item:hover {
    background-color: #f16d7f;
}


/* INFO SECTION */


.info-section{
    max-height: 420px;
    display: flex;
    margin-bottom: 80px;
}
.info-section__wrapper{
    display: flex;
    justify-content: center;
}
.brand-info__row{
    width: 450px;
    height: 275px;
    margin-right: 10px;
}
.info-section-text{
    font-size: 14px;
    font-family: "Myriad Pro";
    color: rgb(137, 137, 137);
    line-height: 1.714;
    text-align: left;
}
.brand-info__column{
    display: flex;
}
.brand-info__column ul{
    margin: 0px 40px;
}
.info__column__header{
    font-size: 18px;
    font-family: "Lato";
    color: rgb(241, 109, 127);
    font-weight: bold;
    padding-bottom: 20px;
}
.info__column__text{
    font-size: 16px;
    font-family: "Lato";
    color: rgb(137, 137, 137);
    padding-bottom: 25px;
}
.brand-info__column ul a{
    text-decoration: none;
    color: rgb(137, 137, 137);
}
.brand-info__column ul{
    list-style: none;
}


/*      FOOTER      */


footer{
    background-color: #e6e6e6;
    height: 82px;
}
.footer__wrapper{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__copyright{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;

    color: #7A7A7A;
    margin-left: 100px;
}
.footer__socials{
    margin-right: 120px;
}
.links-wrapper {
    display: flex;
}
.links-wrapper a {
    text-align: center;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
.links-wrapper .fa:hover {
    color: #ffffff;
 }
.links-wrapper a:hover {
    background-color: #f16d7f;
 }
.fa {
    color: #b2b2b2;
    font-size: 15px;
    vertical-align: middle;
    transition:  transform .8s ease-in-out;
}
.fa:hover{
    transform: rotate(360deg);
}
.links-wrapper .fa {
    padding-top: 8px;
}
 .links-wrapper .fa:hover {
    color: #ffffff;
}

 
