
/*           PRODUCT SECTION            */


/*    ACCORDION    */

.product-section__wrapper{
    display: flex;
    margin-top: 65px;
}
.accordion__wrapper{
   min-height: 450px;
   background-color: #ffffff;
   margin-right: 30px;
}
.accord__item {
    position: relative;
    /* margin: 10px 0px; */
    background-color: #ffffff;
  }
.accordion__label {
    position: relative;
    padding: 10px 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #222222;
    cursor: pointer;
    text-align: left;

}
.accordion__content {
    position: relative;
    height: 0;
    font-size: 20px;
    text-align: justify;
    width: 270px;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
}
.acc-list__item{
    list-style: none;
}
.acc-link{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 33px;

    color: #6F6E6E;
    text-decoration: none;
}
.accordion__hr {
    margin-left: 0;
    border: 0;
    height: 1px;
    background-color: #E8E8E8;;
}
.accordion__wrapper .accord__item.active .accordion__content {
    height: 460px;
}
.accordion__wrapper .accord__item.active .accordion__label::before {
    content: '-';
    font-weight: 700;
    font-size: 30px;
    color: #ef5b70;
}
.accordion__label::before {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
}
.acc__line{
    position: absolute;
    height: 45px;
    width: 5px;
    background-color: #ef5b70;
    margin-left: -10px;
    margin-top: -8px;
}


/*    PRODUCT    */

.products__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    row-gap: 40px;
    margin-bottom: 40px;
    column-gap: 30px;
    margin-bottom: 80px;
}

.products__wrapper .pagination_wrapper{
    justify-content: flex-start;
}


.pagination {
    display: inline-block;
    border: 1px solid #EBEBEB;
  }
  
.pagination a {
    color: #c4c4c4;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}


/*       FEATURE BOX        */

.feature__products-section{
    background-color: #222224;
}
.feature__box__wrapper{
    display: flex;
    height: 350px;
    align-items: center;
}
.feature__box__wrapper .feature-box{
    display: block;
    width: 370px;
    height: 150px;
    margin-left: 65px;
    justify-content: space-between;
}
.feature__box__wrapper .post__title{
    text-align: center;
}
.feature__box__wrapper img{
    margin-left: 142px;
}