/*        SLIDER PHOTO        */
.slider__sngl__pg{
    background-color: #f7f7f7;
    max-height: 780px;
}
.img-item img{
    margin-left: 25%;
    margin-bottom: 6%;   
}
.item{
    align-items: center;
}
.img-slider .preview, .img-slider .nexter {
    cursor: pointer;
    position: absolute;
    top: 100%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    justify-content: center;
}
.img-slider .nexter {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.img-slider .preview:hover,
.img-slider .nexter:hover {
    background-color: #d8d8d8;
}

/* PRODUCT DESRIPTION SECTION */

.prod__description{
    max-height: 850px;
}
.prod__section-wrapper{
    height: 735px;
    background-color: #ffffff;
    margin-top: -100px;
    border: 1px solid #EAEAEA;
    margin-bottom: 110px;
}
.prod__description-header h5{
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Lato";
    color: rgb(241, 109, 127);
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    padding-top: 75px;

    background-color: #ffffff;
}
/* .prod__description-header hr{
    
} */
.prod__description-line {
    border-style: solid;
    border-width: 1px;
    background-color: rgb(239, 91, 112);
    border-color: #eaeaea;
    width: 200px;
}
.prod__description-header h2{
    font-size: 18px;
    font-family: "Lato";
    color: rgb(77, 77, 77);
    text-transform: uppercase;
    line-height: 1.333;
    text-align: center;
    margin-top: 55px;
} 
.prod__description-paragraph{
    width: 620px;

    font-size: 14px;
    font-family: "Lato";
    color: rgb(94, 94, 94);
    line-height: 1.714;
    text-align: center;
    margin-left: 27%;
}
.prod__description__about{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.prod__description__about h4{
    font-size: 14px;
    font-family: "Lato";
    color: rgb(185, 185, 185);
    font-weight: bold;
    line-height: 1.714;
    margin-left: 40px;
}
.prod__description__about span{
    color: #595959;
}
.prod__description__price{
    text-align: center;
    font-size: 24px;
    font-family: "Lato";
    color: rgb(239, 91, 112);
    font-weight: bold;
    line-height: 1;
}
.prod__section-line{
    color: #eaeaea;
    width: 45%;
    justify-content: center;
}
.prod__description__filter{
    display: flex;
    justify-content: center;
}
.filter-item h4{
    font-size: 14px;
    font-family: "Lato";
    color: rgb(47, 47, 47);
    font-weight: bold;
    line-height: 1.714;
    text-transform: uppercase;

    margin-right: 80px;
}
.filter-item__dropdown{
    display: flex;
    justify-content: flex-start;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    width: 145px;
    height: 40px;
    align-items: center;
    margin-right: 50px;
}
.color__square{
    height: 16px;
    width: 16px;
    background-color: red;
    margin-left: 15px;
}
.filter-item__dropdown h6{
    color: #bcbcbc;
    margin: -2px 15px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}
.prod__description__btn{
    margin-top: 32px;
    margin-left: 28.2%;
    width: 537px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #EF5B70;
    display: flex;
    justify-content: center;
}
.prod__description__btn a{
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    
    color: #EF5B70;
}
.prod__description__btn img{
    align-items: center;
    margin-top: 10px;
    margin-right: 15px;
}

/*    PRODUCT ADDITIONAL SECTION    */

/* .prod__additional{
    height: 530px;
} */
.prod__additional-wrapper{
    justify-content: center;
    text-align: center;
}
.prod__additional-wrapper h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 20px;
    text-transform: uppercase;
    
    color: #4D4D4D;
    margin-bottom: 55px;
}